<div class="container-fluid">
  <div class="row">
    <div class="col-xs-6 col-md-4 well">
      <ul>
        <li class="">
          {{current_member.email}}
        </li>
        <li>
          Subscription : {{current_member.subscription.name}}
        </li>
      </ul>
    </div>
    <div class="col-xs-12 col-md-8">
      <div class="row">
        <h2>BOOK LESSON(S)</h2>
        <input value="DATE" ng-model="book.date" />
        <select>
          <option>Select Teacher</option>
        </select>
        <input value="English" />
      </div>

      <div class="row">

      </div>
    </div>
  </div>
</div>