
<div class="">
  <h3>Book lessons</h3>
  <div class="row">
    <div class="col-md-3">
      <input class="form-control" ng-model="date" ng-change="checkSched(true)">
    </div>
    <div class="col-md-3">
      <select ng-change="checkSched(false)" class="form-control"
            ng-model="teacher"
            ng-options="teacher as teacher.name 
                for teacher in teachers track by teacher.id">
      </select>
    </div>
    <div class="col-md-3">
      <select ng-change="" class="form-control"
            ng-model="lesson"
            ng-options="lesson as lesson.name 
                for lesson in lessons track by lesson.id">
      </select>
    </div>
    <div class="col-md-3">
      <button class="btn btn-default" ng-click="checkBooking()">Book</button>
    </div>
  </div>

</div>
<div>
  <h4>Time - {{schedule.time}}</h4>
  <div class="row">
    <span class="" ng-repeat="schedule in schedules">
      <button class="btn btn-default" ng-click="selectTime(schedule)">{{schedule.time}}</button>
    </span>
    
  </div>
</div>

<div>
  <h3>Booked lessons</h3>
  <div class="">
    <table class="table">
      <thead>
        <tr>
          <th>Lessons</th>
          <th>Teachers</th>
          <th>Schedules</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="booking in bookings">
          <td>{{booking.lesson.name}}</td>
          <td>{{booking.schedule.teacher.name}}</td>
          <td>{{booking.schedule.date}} {{booking.schedule.time}}</td>
        </tr>
        <tr ng-if="bookings.length < 1">
          <td colspan="3">No bookings.</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>